{% extends 'base.html.twig' %}

{% block content %}
 <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #000;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
<h1 style="text-align: center;">{{name}}</h1>
{{ htmlResponse|raw }} 
{% endblock %}

